@use '../global' as *;

#math_table {
  .content {
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet) {
      width: $tabletContent;
      margin: 0 auto;
    }
    
    @media (min-width: $commonScreen) {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 2rem 0;
      width: $commonContent;
    }

    .table {
      width: 100%;
      border: 2px solid $black300;
      display: grid;
      row-gap: 0.25rem;
      grid-template-rows: repeat(10, 1fr);

      @media (min-width: $commonScreen) {
        width: 70%;
      }

      &__item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.25rem;

        &-item {
          justify-self: center;
          padding: 1rem 0.5rem;
          margin: 0;
        }
      }

      &__item:nth-child(even) {
        background-color: $offWhite;
      }
    }
  }
}