@use '../global' as *;

#math_table {
  .content {
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet) {
      width: $tabletContent;
      margin: 0 auto;
    }
    
    @media (min-width: $commonScreen) {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 2rem 0;
      width: $commonContent;
    }

    .table {
      width: 100%;
      border: 2px solid $black300;
      display: grid;
      row-gap: 0.25rem;
      grid-template-rows: repeat(10, 1fr);

      &__item {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-item {
          padding: 0.5rem;
          @media (min-width: $commonScreen) {
            padding: .5rem 2rem;
          }
        }
      }

      &__item:nth-child(even) {
        background-color: $offWhite;
      }
    }
  }
}