@use './source';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: hsl(0, 0%, 97%);
  color: #333;
  font-size: 16px;
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin-bottom: 0.8rem;
}

p {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
}

a {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0;
  text-decoration: none;
}
