<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item"><a class="navbar__link" href="/">Home</a></li>
    <li class="navbar__item" ><a aria-disabled="true" class="navbar__link" href="/about">About</a></li>
  </ul>
</nav>